{% extends 'base.html' %}

{% block headline %}
    {% block title %}{{movie['Title']}}{% endblock %}
{% endblock %}

{% block content %}
    <div class="text-centered bg-light" style="width: 100%; height: 100%; padding: 10px;">

        <div class="row">
          <div class="col-sm-4">
              <img src="{{movie['Poster']}}">
          </div>
          <div class="col-sm-8">
                <h2 ><b>{{movie['Title']}}</b></h2>
                <h5> - {{movie['Released']}} | <i>{{movie['Runtime']}}</i> </h5>
                <br>
            <div class="row">
                <div class="col-sm-7"> <h4><b>Plot</b></h4> <p>{{movie['Plot']}}</p> </div>
                <div class="col-sm-5"> <h4><b>Ratings</b></h4>
                    <p><b>ELO: </b>{{score}}</p>
                    {% for rating in movie['Ratings']%}
                        <p><b>{{rating['Source']}}:</b> {{rating['Value']}}</p>
                    {% endfor %}
                 </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"> <h4><b>Director</b></h4> <p>{{movie['Director']}}</p> </div>
                <div class="col-sm-4"> <h4><b>Actors</b></h4> <p>{{movie['Actors']}}</p> </div>
                <div class="col-sm-4"> <h4><b>Genres</b></h4> <p>{{movie['Genre']}}</p> </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
